<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqz.school.dao.mapper.ClassInfoMapper">
    <resultMap id="BaseResultMap" type="com.zqz.school.dao.entity.ClassInfo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="class_code" jdbcType="VARCHAR" property="classCode"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="class_logo" jdbcType="VARCHAR" property="classLogo"/>
        <result column="charge_teacher" jdbcType="VARCHAR" property="chargeTeacher"/>
        <result column="c_time" jdbcType="DATE" property="cTime"/>
        <result column="u_time" jdbcType="DATE" property="uTime"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, class_code, class_name, class_logo, charge_teacher, c_time, u_time
    </sql>

    <insert id="add" parameterType="com.zqz.school.dao.entity.ClassInfo">
        insert into class_info(class_code, class_name, class_logo, charge_teacher, c_time, u_time)
        values (#{classCode,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{classLogo,jdbcType=VARCHAR},
        #{chargeTeacher,jdbcType=VARCHAR}, #{cTime,jdbcType=VARCHAR}, #{uTime,jdbcType=VARCHAR})
    </insert>

    <select id="queryByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class_info
        where class_code = #{code}
    </select>

    <select id="queryClassList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class_info
    </select>

    <select id="queryByParam" parameterType="com.zqz.school.dao.req.QueryClassPageReq" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class_info
        where 1 = 1
        <if test="classCode != null and classCode != ''">
            and class_code = #{classCode}
        </if>
        <if test="className != null and className != ''">
            and class_name = #{className}
        </if>
        <if test="chargeTeacher != null and chargeTeacher != ''">
            and charge_teacher = #{chargeTeacher}
        </if>
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from class_info
        where id = #{id}
    </delete>

    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class_info
        where id = #{id}
    </select>

    <update id="update" parameterType="com.zqz.school.dao.entity.ClassInfo">
        update class_info
        <set>
            <if test="classCode != null and classCode != ''">
                class_code = #{classCode, jdbcType=VARCHAR},
            </if>
            <if test="className != null and className != ''">
                class_name = #{className, jdbcType=VARCHAR},
            </if>
            <if test="chargeTeacher != null and chargeTeacher != ''">
                charge_teacher = #{chargeTeacher, jdbcType=VARCHAR},
            </if>
            u_time = current_date
        </set>
        where id = #{id}
    </update>


</mapper>
