<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqz.school.dao.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.zqz.school.dao.entity.Student">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="class_code" jdbcType="VARCHAR" property="classCode"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="father_name" jdbcType="VARCHAR" property="fatherName"/>
        <result column="father_phone" jdbcType="VARCHAR" property="fatherPhone"/>
        <result column="father_id_no" jdbcType="VARCHAR" property="fatherIdNo"/>
        <result column="father_job" jdbcType="VARCHAR" property="fatherJob"/>
        <result column="mother_name" jdbcType="VARCHAR" property="motherName"/>
        <result column="mother_phone" jdbcType="VARCHAR" property="motherPhone"/>
        <result column="mother_id_no" jdbcType="VARCHAR" property="motherIdNo"/>
        <result column="mother_job" jdbcType="VARCHAR" property="motherJob"/>
        <result column="home_address" jdbcType="VARCHAR" property="homeAddress"/>
        <result column="c_time" jdbcType="DATE" property="cTime"/>
        <result column="u_time" jdbcType="DATE" property="uTime"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, code, name, class_code, age, sex, photo, father_name, father_phone, father_id_no,
      father_job, mother_name, mother_phone, mother_id_no, mother_job, home_address, c_time, u_time
    </sql>

    <insert id="add" parameterType="com.zqz.school.dao.entity.Student">
      insert into student (code, `name`, class_code, age, sex, photo, father_name, father_phone, father_id_no,
      father_job, mother_name, mother_phone, mother_id_no, mother_job, home_address, c_time, u_time)
      values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{classCode,jdbcType=VARCHAR},#{age,jdbcType=INTEGER},
      #{sex,jdbcType=INTEGER},#{photo,jdbcType=VARCHAR},#{fatherName,jdbcType=VARCHAR},#{fatherPhone,jdbcType=VARCHAR},#{fatherIdNo,jdbcType=VARCHAR},
      #{fatherJob,jdbcType=VARCHAR},#{motherName,jdbcType=VARCHAR},#{motherPhone,jdbcType=VARCHAR},#{motherIdNo,jdbcType=VARCHAR},
      #{motherJob,jdbcType=VARCHAR},#{homeAddress,jdbcType=VARCHAR},#{cTime,jdbcType=VARCHAR},#{uTime,jdbcType=VARCHAR})
    </insert>

    <select id="queryByParam" parameterType="com.zqz.school.dao.req.QueryStudentPageReq" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
        where 1 = 1
        <if test="name != null and name != ''">
            and `name` like CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        <if test="code != null and code != ''">
            and code = #{code, jdbcType=VARCHAR}
        </if>
        <if test="classCode != null and classCode != ''">
            and class_code = #{classCode, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="queryByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
        where code = #{code}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from student
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.zqz.school.dao.entity.Student">
        update student
        <set>
            <if test="name != null and name != ''">
                `name` = #{name, jdbcType=VARCHAR},
            </if>
            <if test="classCode != null and classCode != ''">
                class_code = #{classCode, jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age, jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex, jdbcType=INTEGER},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo, jdbcType=VARCHAR},
            </if>
            <if test="fatherName != null and fatherName != ''">
                father_name = #{fatherName, jdbcType=VARCHAR},
            </if>
            <if test="fatherPhone != null and fatherPhone != ''">
                father_phone = #{fatherPhone, jdbcType=VARCHAR},
            </if>
            <if test="fatherIdNo != null and fatherIdNo != ''">
                father_id_no = #{fatherIdNo, jdbcType=VARCHAR},
            </if>
            <if test="fatherJob != null and fatherJob != ''">
                father_job = #{fatherJob, jdbcType=VARCHAR},
            </if>
            <if test="motherName != null and motherName != ''">
                mother_name = #{motherName, jdbcType=VARCHAR},
            </if>
            <if test="motherPhone != null and motherPhone != ''">
                mother_phone = #{motherPhone, jdbcType=VARCHAR},
            </if>
            <if test="motherIdNo != null and motherIdNo != ''">
                mother_id_no = #{motherIdNo, jdbcType=VARCHAR},
            </if>
            <if test="motherJob != null and motherJob != ''">
                mother_job = #{motherJob, jdbcType=VARCHAR},
            </if>
            <if test="homeAddress != null and homeAddress != ''">
                home_address = #{homeAddress, jdbcType=VARCHAR},
            </if>
            <if test="uTime != null and uTime != ''">
                u_time = #{uTime, jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="queryByClassCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
        where class_code = #{classCode}
    </select>


</mapper>

